body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.text-1 {
  color: white;
  position: relative;
  bottom: 580px;
  right: -200px;
}

.text-2 {
  position: relative;
  right: -240px;
  bottom: 565px;
  color: white;
}

.form input {
  background-color: rgb(61, 61, 61);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 310px;
  height: 45px;
  border-radius: 10px;
  border-color: crimson;
  bottom: 595px;
  left: 139px;
  text-align: center;
  position: relative;
  color: white;
}

svg {
  position: relative;
  bottom: 420px;
  left: 150px;
  margin-right: 35px;
  color: white;
}

.box {
  background-color: crimson;
  position: relative;
  padding-top: 4px;
  width: 310px;
  height: 25px;
  color: white;
  text-align: center;
  border-radius: 10px;
  bottom: 488px;
  left: 137px;
  font-size: 14px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background-color: #e3f2fd;
}

.select_menu {
  width: 380px;
  margin: 150px auto;
}

.select_menu .select {
  display: flex;
  height: 40px;
  width: 320px;
  margin-left: 20px;
  background-color: #1877f2;
  color: white;
  padding: 20px;
  font-size: 18px;
  font-weight: 400px;
  border-radius: 8px;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
  position: relative;
  bottom: 700px;
  right: 650px;
}

.select_menu .options {
  position: relative;
  padding: 10px;
  border-radius: 8px;
  margin-top: 0px;
  display: none;
}

.options .option {
  display: flex;
  height: 55px;
  width: 320px;
  cursor: pointer;
  align-items: center;
  border-radius: 8px;
  padding: 0 16px;
  background: #e0e0e0;
  position: relative;
  bottom: 710px;
  right: 640px;
}

.option i {
  font-family: 25px;
  margin-right: 12px;
}

.option .option_text {
  font-size: 18px;
  color: #040404;
}

.select_menu.active .options {
  display: block;
}

.option_text {
  position: relative;
  left: 90px;
}

.no_audio {
  position: relative;
  left: -85px;
  bottom: 1px;
}

.join_meeting {
  left: 95px;
  position: relative;
}

.arrow {
  position: relative;
  top: 1px;
  left: 40px;
}
